<h2> Reseñas</h2>

<button mat-flat-button routerLink="/ruta3/crear">
  Agregar reseña
</button>

@if(reviews){
  <table mat-table [dataSource]="reviews" class="mat-elevation-z8">
    
    <ng-container matColumnDef="Comentario">
      <th mat-header-cell *matHeaderCellDef>Comentario</th>
      <td mat-cell *matCellDef="let review">{{ review.comment}}</td>
    </ng-container>

    <ng-container matColumnDef="Puntaje">
      <th mat-header-cell *matHeaderCellDef>Puntaje</th>
      <td mat-cell *matCellDef="let review">{{ review.rating}}</td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let review">
        <a mat-flat-button routerLink="/ruta3/editar/{{review.id}}">Editar</a>
        <button mat-flat-button color="warn" (click)="borrar(review.id)">Borrar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colummasAMostrar"></tr>
    <tr mat-row *matRowDef="let row; columns: colummasAMostrar"></tr>
  </table>
}

<router-outlet></router-outlet>
