<div class="logo-container">
  <img src="images/Logo APP.png" alt="App logo" width="200" height="200">
</div>

<div class="title-box">
  <h1>La Enciclopedia del AUSI</h1>
</div>

<div class="presentation-box">
  <h1>Esta es una aplicación sencilla creada por Franco Herrera, Valentina Massa y Joaquín Carcano, alumnos de la Universidad Nacional de Córdoba, Argentina.</h1>
  <h2>Utiliza las siguientes tecnologías: ASP.NET, Entity Framework, Angular, GitHub and PostgreSQL. La app permite realizar CRUDs de libros, autores, editoriales y reseñas de libros. Enjoy!</h2>
</div>


