.toolbar
{
  background-color: #79792E; /* azul oscuro */
  color: #EAE9E7;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.01px 5px;
  display: flex;
  align-items:center;
  gap: 10px;
  border-radius: 5px; /* redondeo de la barra */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* sombra */
}

.nav-button {
  padding: 6px 130px;
  background-color: rgba(255, 255, 255, 0.297);
  color: #DAAD29;
  border-radius: 50px; /* redondeo del botón */
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #cce0ff; /* color al pasar el mouse */
  color: #DAAD29;
}
