<div class="toolbar">
<mat-toolbar>
    <span>
        <a routerLink="" mat-button>
            <img src="images/Logo APP.png" alt="App logo" width="50" height="50"> 
        </a>
        <a class="nav-button" routerLink="book" mat-button>
            Libros
        </a>
        <a class="nav-button" routerLink="ruta1" mat-button>
            Editoriales
        </a>
        <a class="nav-button" routerLink="ruta2" mat-button>
            Autores
        </a>
        <a class="nav-button" routerLink="ruta3" mat-button>
            Reseñas
        </a>
    </span>
</mat-toolbar>
</div>